
<div class="div-cuenta">
    <div>
        <div class="filaSugerencia">
            <div class="m-3 p-3 shadow">
                <h5>Sugerencias de Opciones Favoritas</h5>

                <ul class="nav flex-column" style="display: flex;flex-direction: row;">
                    <li class="nav-item" *ngFor="let data of datos">
                        <img src="../../assets/img/img1.png" style="width: 80px;" alt="">
                      <a class="nav-link" href="{{data.url}}"> <i class="{{data.icon}}"></i> {{data.titulo}}</a>
                    </li>
                  </ul>
                
            </div>
        </div>
    </div>
</div>