/* You can add global styles to this file, and also import other style files */
.div-contenido{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 85%;
    padding-top: 100px;
    background-color: #f3f3f3;
}
.div-contenido>div{
    height: 100%;
    padding: 5rem;
}
.fila{
    text-align: center;
}
.fila>div{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}
.fila>div:hover{
    box-shadow: 0 .5rem 1rem rgba(129, 129, 129, 0.705) !important;
}
a path{
    fill: #d50000;
}

table{
    box-shadow: 0 .5rem 1rem rgba(129, 129, 129, 0.705) !important;
}

thead{
    background-color: red !important;
    color: #FFF !important;
    text-align: center;
}

/* thead{
    color:green !important;
    background-color: red !important;
}

.ngx-table__header{
    background-color: red !important;
} */


/*DISEÑO BOTON START*/
/* CSS */
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  .circle {
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
  }
  
  .button-17:hover {
    background: red;
    color: #FFF;
  }
  .button-17-azul:hover{
    background: blue;
    color: #FFF;
  }
  .button-17-red:hover{
    background: red;
    color: #FFF;
  }
  
  .button-17-skyblue:hover{
    background: rgb(10, 181, 190);
    color: #FFF;
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid red;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:disabled:hover {
    background-color: rgba(210, 208, 208, 0.671);
    color: #3c4043;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    background-color: rgba(210, 208, 208, 0.671);
    color: #3c4043;
  }
  /*DISEÑO BOTON END*/
